################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Visual Studio temporary files
.vs/
*.vsidx
*.vspx
*.user
*.suo
